#scores-label, #scores-value, #restart-btn {
    font-size: 20px;
}

#main-container {
    background-color: rgba(107, 107, 107, 0.32);
}

#game-field-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
